<!DOCTYPE html>
<!-- ABOUT US -->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Welcome to Library</title>
    <style>
        inputclass {
            background-color: rgb(181, 228, 236);
            color: rgb(20, 8, 53)
        }

        .columnclass {
            padding: 1rem;
        }
    </style>
</head>

<body style="background-color: rgb(231, 255, 255);">
    <div class="container-fluid" style="height:110px; width: 100%;">
        <nav class="navbar navbar-expand-lg navbar-dark "
            style="background: url(/static/aboutimg.jpg) no-repeat 50% 50%; height: 100px; width: 100%;">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active ">
                        <span style="font-size: x-large; color: white;">About Us</span>
                </ul>
                <a class="nav-link" href="/studentsbase" method="post" style="color: white;">Home <span
                        class="sr-only">(current)</span></a>

                <a href="/studentlogout" style="color: white;"> <svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                        <path fill-rule="evenodd"
                            d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                    </svg> Logout</a>

            </div>
        </nav>
    </div>
    <div style="padding:25px; color: rgb(0, 0, 0); font-weight: 500; font-style: oblique;">
        <div>Know more...</div>
        <div>Dynamic Library is a website we have programmed as our Mini Project-B.
            <p>There are two views included in this website one student view and other is admin view.</p>
            <ol>
                <li>
                    <div style="font-size: medium; font-weight: 500;"> Student View</div>
                </li>
                <li>
                    <div style="font-size: medium; font-weight: 500;"> Admin View</div>
                </li>
            </ol>
            <p>
                It focuses more on the Library Management in a College library. It will help the librarian in managing
                books, issueing book and handling many more such tasks helps librarian to keep of track of things
                easily.</p>
            <p>The student view of our project will help students find out the eductional content for themseleves easily
                also they can keep update regarding what's going around the world. </p>

        </div>
    </div>
    </div>
    <div style="font-weight: 500; font-size:large; padding-left:25px;">MEET OUR TEAM</div>
    <div style="padding-top: 60px; padding-left: 50px; ">
        <ul style="overflow:auto;">
            <li style="list-style: none; float: left; padding-right: 1px;">
                <div class="card" style="width: 18rem; padding: 2px; box-shadow: seashell;">
                    <img src="/static/msd.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Shreyas Parkar</h5>
                        <p class="card-text">
                            Roll No.:18

                        </p>
                    </div>
                </div>
            </li>
            <li style="list-style: none; float: left; padding-left: 142px;">
                <div class="card" style="width: 18rem; padding: 2px; box-shadow: seashell;">
                    <img src="/static/carry.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Advait Sarang</h5>
                        <p class="card-text">
                            Roll No.: 65

                        </p>
                    </div>
                </div>
            </li>
            <li style="list-style: none; float: left; padding-left: 143px;">
                <div class="card" style="width: 18rem; padding: 2px; box-shadow: seashell;">
                    <img src="/static/messi.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sumeet Bhimanpally </h5>
                        <p class="card-text">
                            Roll No.: 54

                        </p>

                    </div>
                </div>
            </li>
        </ul>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>


</html>