<!-- STUDENT LOGIN PAGE -->
{% extends "landing.html" %}
{% block body %}
{% from "includes/formhelpers.html" import render_field %}
<div class="container " style="padding-top: 1rem; padding-left: 20rem;">
    <div class="card shadow-sm p-3 mb-5 bg-body rounded border border-light"
        style="width:30rem; background-image: linear-gradient(180deg,rgba(240, 240, 240, 0.864),rgb(195, 139, 238));">
        <div class="card-body">


            <img src="/static/studentlogin.png" alt="..." style="height: 5rem; padding-left: 10rem;">
            <h5 style="padding-left: 30%; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                <strong>
                    Student Login
                </strong>
            </h5>
            <hr>

            <form method="POST">

                {{ render_field(form.email, class="form-control ") }}
                {{ render_field(form.password, class="form-control") }}

                <button type="submit" class="btn btn-primary">Login</button>
            </form>

            <hr>

            <a href="/register" style="color: darkblue;">Create a New Account!</a> or <a href="/adminlogin/"
                style="color: darkblue;">Login as Admin</a>

        </div>
    </div>
</div>
{% endblock %}